
.popup__button-save {
    margin: 18px 36px 37px;
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    color: white;
    border: none;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
}

.popup__button-save:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media all and (max-width: 767px) {
    .popup__button-save {
        font-size: 14px;
        line-height: 17px;
        width: 238px;
        margin-left: auto;
        margin-right: auto;
    }
}