.elements__cell {
    max-width: 880px;
    display: grid;
    gap: 20px 17px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 0 auto 66px;
    padding-left: 0;
}

@media screen and (max-width: 1024px) {
    .elements__cell {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        width: calc(100% - 2 * 22px);
        place-items: center;
    }
}

@media screen and (max-width: 767px) {
    .elements__cell {
        max-width: 282px;
        grid-template-columns: 1fr;
        gap: 20px;
        margin-bottom: 48px;
        width: calc(100% - 2 * 19px);
    
    }
}
