.popup__input {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin: 0 36px 30px;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 358px;
}

.popup__input:hover {
    cursor: text;
}

@media all and (max-width: 767px) {
    .popup__input {
        margin: 0 22px 30px;
    }
}

.popup__input-error {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    margin: 0 36px 13px;
    width: 358px;
    color:red;

}


.popup__input_type_error:valid {
    border: 2px solid black;

}
