
.profile__description {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0;
    text-overflow: ellipsis;
    max-width: 336px;
    overflow: hidden;
    white-space: nowrap;
}

@media all and (max-width: 767px) {
    .profile__description {
        max-width: 282px;
        font-size: 14px;
        line-height: 17px;
        text-align: center;
    }
}