.popup__close {
    background: transparent no-repeat;
    padding: 0;
    object-fit: cover;
    position: relative;
    margin-left: 470px;
    margin-bottom: 375px;
    width: 40px;
    height: 40px;
    border: none;
    background-image: url('../../../images/close-icon.svg');
}

.popup__close:hover {
    opacity: 0.6;
    cursor: pointer;
}

@media all and (max-width: 767px) {
    .popup__close {
        margin-left: 250px;
        margin-bottom: 400px;
        background-image: url('../../../images/close-icon-s.svg');
        width: 26px;
        height: 26px;
    }
}
