.profile__button-avatar {
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-left: 24.5px;
    background: transparent ;
    border: none;
}

.profile__button-avatar:hover {
    display: block;
    cursor: pointer;
    background: url('../../../images/ava-button.svg') no-repeat 100%;
    background-position: center;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.8); 
}